* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

p {
    font-size: 1.65rem;
}

h1 {
    font-size: 3rem;
}

.dash-title {
    text-align: center;
    padding: .35em;
    color: white;
    background-color: rgb(0, 0, 71)
}

.aside-article-container {
    display: flex;
    flex-direction: row;
}

aside {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: .3em;
}

.user-input {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

form label {
    font-size: 2.5rem;
}

form input {
    padding: 1em 0 1em .5em;
}

#input-btn {
    margin-top: 1em;
    padding: .8em 0 .8em 0;
    color: white;
    background-color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 10px;
}

#saved-cities {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

#btn {
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .8em 0 .8em 0;
    color: black;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;
}

article {
    float: right;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#status-container {
    border: 1px solid black;
    margin: 1em;
    padding: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2.25;
}

.uv-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.uv-index {
    font-size: 1.25rem;
    margin-left: 1em;
    background-color: darkgreen;
    color: white;
    border-radius: 8px;
    padding: 0 .8em 0 .8em;
    min-width: fit-content;
    height: 50px;
}

article h2 {
    margin-left: 1.5em;
    margin-top: .5em;
    margin-bottom: -.25em;
}

#forecast-container {
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#forecast-day {
    margin: .5em;
    padding: 1em;
    height: 270px;
    min-height: 270px;
    width: 210px;
    min-width: 210px;
    color: white;
    background-color: rgba(0, 17, 40, 0.783);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#forecast-day h3 {
    font-size: 2rem;
}

#weather-icon {
    height: 45px;
    border: 2px solid red;
}

